<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container mt-5 w-50">
    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h4>Create Dynamic Form</h4>
        </div>
        <div class="card-body">
            <form id="ajaxForm">
                <input type="text" id="title" placeholder="Form Title" class="form-control" required />
                <div id="fieldsContainer" class="pt-2"></div>

                <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-info" onclick="addDropdown()">➕ Add More</button>
                    <button type="submit" class="btn btn-success">✅ Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let index = 0;
    function addDropdown() {
        fetch(`/Form/RenderDropdown?index=${index}`)
            .then(res => res.text())
            .then(html => {
                document.getElementById("fieldsContainer").insertAdjacentHTML("beforeend", html);
                index++;
            });
    }

    function removeField(index) {
        const fieldDiv = document.getElementById(`field-${index}`);
                if (fieldDiv) {
                    fieldDiv.remove();
                }
    }

</script>

<script>
    document.getElementById("ajaxForm").addEventListener("submit", function (e) {
        e.preventDefault();

        const fields = [];
        document.querySelectorAll("#fieldsContainer .field").forEach(field => {
            fields.push({
                label: field.querySelector(".label").value,
                selectedOption: field.querySelector(".select").value,
                isRequired: field.querySelector(".required").checked
            });
        });

       // console.log(fields);
       // return; 

        const formData = {
            title: document.getElementById("title").value,
            fields: fields
        };


        fetch("/api/FormApi/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
        .then(res => res.json())
        .then(data => {
                Swal.fire({
                    title: "Success!",
                    text: data.message,
                    icon: "success",
                    confirmButtonText: "OK"
                }).then(() => {
                    window.location.href = "/Form/Index";
                });
        })

        .catch(err => console.error("Submission error:", err));
    });

</script>
